# Rename this file to .env for local use

#environment
NODE_ENV=development

# DATABASE
#
# You can test locally using a postgres database instance.  See setup
# instructions in README.md.
# If your local database is out of date, run the migrations script
# to get your database schema up to date. See the README.md in database folder.
# Simply run the database migrations: npm run migrate:latest

PGURI=postgres://postgres:tehsecure@localhost:5432/postgres?sslmode=disable
PGSCHEMA=usher
KNEX_POOL_MIN=0
KNEX_POOL_MAX=100
KNEX_POOL_PROPAGATE_CREATE_ERROR=false
KNEX_POOL_CREATE_RETRY_INTERVAL_MILLIS=500
KNEX_POOL_CREATE_TIMEOUT_MILLIS=5000
KNEX_POOL_ACQUIRE_TIMEOUT_MILLIS=5000
KNEX_POOL_REAP_INTERVAL_MILLIS=1000

# TOKEN LIFETIMES
# Duration the access_token is valid:
TOKEN_LIFETIME_SECONDS=3600
# Duration the session/refresh_token is valid:
SESSION_LIFETIME_SECONDS=43200

# Dev & Testing Variables
TEST_THEUSHER_SERVER=http://localhost:3001
PRESET_SERVER_URL=http://localhost:3001

ISSUER_WHITELIST=https://dmgt-test.auth0.com/,test1.net,foo,https://auth.labs.dmgt.com/,http://branded-idp-alias.dmgt.com.mock.localhost:3002/,http://idp.dmgt.com.mock.localhost:3002/,http://whitelisted-but-not-aliased.labs.dmgt.com.mock.localhost:3002/
ISSUER_ALIASES='{"https://auth.labs.dmgt.com/": "https://dmgt-test.auth0.com/", "http://branded-idp-alias.dmgt.com.mock.localhost:3002/": "http://idp.dmgt.com.mock.localhost:3002/"}'
THEUSHER_AUD_CLAIMS=https://us-central1-dmgt-oocto.cloudfunctions.net/the-usher,http://localhost:3001
SKIP_KEYS_CHECK=true
